{% extends 'base.html' %}

{% block title %}
    {% if view.object %}
        {{ view.object.name }}
    {% else %}
        Add Location
    {% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if view.object %}
        {{ view.object.name }}
    {% else %}
        Add Location
    {% endif %}
</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">
        {% if view.object %}Update{% else %}Add{% endif %}
    </button>
    <a href="{% url 'inventory:location_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
